* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-inner img {
    width: 100%;
    height: 95vh;
}

.footerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-footer {
    background-color: rgba(194, 194, 194, 0.651);
}